<% if (site.tags.length){ %>
  <div class="widget">
    <h3 class="title"><%= __('tagcloud') %></h3>
    <div class="content tag-cloud">
        <% if (theme.tagcloud.tag3d){ %>
            <canvas height="200" id="tag-cloud-3d" style="width:100%;">
                <%-tagcloud() %>
            </canvas>
        <% } else { %>
            <%- tagcloud() %>
        <% } %>
    </div>
  </div>
<% } %>
