<% if (theme.carousel.img) { %>
    <div class="carousel">
        <a href="<%= theme.carousel.url %>" target="_blank">
            <img src="<%- url_for(theme.carousel.img) %>" alt="前端套路深 - 不要瞎折腾！">
        </a>
    </div>
<% } %>

