<style>
    li{list-style:none;}
    img{border:0 none;}
    #div5{width:100%;height:133px;position:relative;background:#ccc;overflow:hidden;}
    #div5 ul{height:113px;position:absolute;top:10px;}
    #div5 li{float:left;padding-right:10px;}
    #div5 img{height:113px;}
</style>
<% if (theme.carousel.carousel) { %>
<div id="div5">
	<ul>
		<li><img src="imgs2/0.jpg"/></li>
		<li><img src="imgs2/1.jpg"/></li>
		<li><img src="imgs2/2.jpg"/></li>
		<li><img src="imgs2/3.jpg"/></li>
		<li><img src="imgs2/4.jpg"/></li>
		<li><img src="imgs2/5.jpg"/></li>
		<li><img src="imgs2/6.jpg"/></li>
		<li><img src="imgs2/7.jpg"/></li>
	</ul>
</div>
<% } %>
